function Main.main 2
push constant 8000
call Memory.peek 1
pop local 1
push local 1 //value
call Main.convert 1
return
function Main.convert 3
push constant 1
pop local 2
label pfl0
push local 2 //loop
not
if-goto pfl1
push local 1 //position
push constant 1
add
pop local 1
push local 0 //mask
call Main.nextMask 1
pop local 0
push constant 9000
push local 1 //position
add
push local 0 //mask
call Memory.poke 2
push local 1 //position
push constant 16
gt
not
not
if-goto pfl2
push argument 0 //value
push local 0 //mask
and
push constant 0
eq
not
not
if-goto pfl4
push constant 8000
push local 1 //position
add
push constant 1
call Memory.poke 2
goto pfl5
label pfl4
push constant 8000
push local 1 //position
add
push constant 0
call Memory.poke 2
label pfl5
goto pfl3
label pfl2
push constant 0
pop local 2
label pfl3
goto pfl0
label pfl1
return
function Main.nextMask 0
push argument 0 //mask
push constant 0
eq
not
if-goto pfl6
push constant 1
return
goto pfl7
label pfl6
push argument 0 //mask
push constant 2
call Math.multiply 2
return
label pfl7
function Main.fillMemory 0
label pfl8
push argument 1 //length
push constant 0
gt
not
if-goto pfl9
push argument 0 //startAddress
push argument 2 //value
call Memory.poke 2
push argument 1 //length
push constant 1
sub
pop argument 1
push argument 0 //startAddress
push constant 1
add
pop argument 0
goto pfl8
label pfl9
return
