function Main.main 2
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
push constant 8000
call Memory.peek 1
pop local 1
push local 1 //value
call Main.convert 1
return
function Main.convert 3
pop local 2
push local 2 //loop
push local 1 //position
push constant 1
add
pop local 1
push local 0 //mask
call Main.nextMask 1
pop local 0
push constant 9000
push local 1 //position
add
push local 0 //mask
call Memory.poke 2
push local 1 //position
push constant 16
gt
not
push argument 0 //value
push local 0 //mask
and
push constant 0
eq
not
push constant 8000
push local 1 //position
add
push constant 1
call Memory.poke 2
push constant 8000
push local 1 //position
add
push constant 0
call Memory.poke 2
pop local 2
return
function Main.nextMask 0
push argument 0 //mask
push constant 0
eq
push constant 1
return
push argument 0 //mask
push constant 2
call Math.multiply 2
return
function Main.fillMemory 0
push argument 1 //length
push constant 0
gt
push argument 0 //startAddress
push argument 2 //value
call Memory.poke 2
push argument 1 //length
push constant 1
sub
pop argument 1
push argument 0 //startAddress
push constant 1
add
pop argument 0
return
