function Square.new 0
push argument 0 //Ax
pop this 0
push argument 1 //Ay
pop this 1
push argument 2 //Asize
pop this 2
call draw 0
push constant 3
call Memory.alloc 1
push this 0
push constant 3
call Memory.alloc 1
return
function Square.dispose 0
push this 0
call Memory.deAlloc 1
return
function Square.draw 0
push constant 0
not
call Screen.setColor 1
push this 0 //x
push this 1 //y
push this 0 //x
push this 2 //size
add
push this 1 //y
push this 2 //size
add
call Screen.drawRectangle 4
return
function Square.erase 0
push constant 0
call Screen.setColor 1
push this 0 //x
push this 1 //y
push this 0 //x
push this 2 //size
add
push this 1 //y
push this 2 //size
add
call Screen.drawRectangle 4
return
function Square.incSize 0
push this 1 //y
push this 2 //size
add
push constant 254
lt
push this 0 //x
push this 2 //size
add
push constant 510
lt
and
not
if-goto pfl0
call erase 0
push this 2 //size
push constant 2
add
pop this 2
call draw 0
goto pfl1
label pfl0
label pfl1
return
function Square.decSize 0
push this 2 //size
push constant 2
gt
not
if-goto pfl2
call erase 0
push this 2 //size
push constant 2
sub
pop this 2
call draw 0
goto pfl3
label pfl2
label pfl3
return
function Square.moveUp 0
push this 1 //y
push constant 1
gt
not
if-goto pfl4
push constant 0
call Screen.setColor 1
push this 0 //x
push this 1 //y
push this 2 //size
add
push constant 1
sub
push this 0 //x
push this 2 //size
add
push this 1 //y
push this 2 //size
add
call Screen.drawRectangle 4
push this 1 //y
push constant 2
sub
pop this 1
push constant 0
not
call Screen.setColor 1
push this 0 //x
push this 1 //y
push this 0 //x
push this 2 //size
add
push this 1 //y
push constant 1
add
call Screen.drawRectangle 4
goto pfl5
label pfl4
label pfl5
return
function Square.moveDown 0
push this 1 //y
push this 2 //size
add
push constant 254
lt
not
if-goto pfl6
push constant 0
call Screen.setColor 1
push this 0 //x
push this 1 //y
push this 0 //x
push this 2 //size
add
push this 1 //y
push constant 1
add
call Screen.drawRectangle 4
push this 1 //y
push constant 2
add
pop this 1
push constant 0
not
call Screen.setColor 1
push this 0 //x
push this 1 //y
push this 2 //size
add
push constant 1
sub
push this 0 //x
push this 2 //size
add
push this 1 //y
push this 2 //size
add
call Screen.drawRectangle 4
goto pfl7
label pfl6
label pfl7
return
function Square.moveLeft 0
push this 0 //x
push constant 1
gt
not
if-goto pfl8
push constant 0
call Screen.setColor 1
push this 0 //x
push this 2 //size
add
push constant 1
sub
push this 1 //y
push this 0 //x
push this 2 //size
add
push this 1 //y
push this 2 //size
add
call Screen.drawRectangle 4
push this 0 //x
push constant 2
sub
pop this 0
push constant 0
not
call Screen.setColor 1
push this 0 //x
push this 1 //y
push this 0 //x
push constant 1
add
push this 1 //y
push this 2 //size
add
call Screen.drawRectangle 4
goto pfl9
label pfl8
label pfl9
return
function Square.moveRight 0
push this 0 //x
push this 2 //size
add
push constant 510
lt
not
if-goto pfl10
push constant 0
call Screen.setColor 1
push this 0 //x
push this 1 //y
push this 0 //x
push constant 1
add
push this 1 //y
push this 2 //size
add
call Screen.drawRectangle 4
push this 0 //x
push constant 2
add
pop this 0
push constant 0
not
call Screen.setColor 1
push this 0 //x
push this 2 //size
add
push constant 1
sub
push this 1 //y
push this 0 //x
push this 2 //size
add
push this 1 //y
push this 2 //size
add
call Screen.drawRectangle 4
goto pfl11
label pfl10
label pfl11
return
